:root{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: whitesmoke;
    display: flex;
}
#navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    border-right: 3px solid gray;
}
#navbar header{
    border-bottom: 1px solid gray;
    padding: 2rem 0 2rem 7%;
    margin-bottom: 0.5rem;
}
#navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#navbar ul li{
    padding: 2rem 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
    padding-left: 7%;
}
#navbar ul li:hover{
    background: lightgreen;
    box-shadow: 8px 16px 32px rgba(85, 82, 82, 0.849);
}
#navbar ul li:hover > a{
    color: purple;
}

#main-doc{
    width: 70%;
    margin-left: 30.2%;
}
#main-doc header{
    color: green;
}
.main-section{
    border-bottom: 1px solid gray;
    padding-left: 3%;
    padding-bottom: 3%;
}
.code{
    background: lightgray;
    color: purple;
    width: 70%;
    margin: auto;
    padding: 5%;
    border: 1px solid rgb(63, 233, 63);
    border-radius: 1rem;
}
.example h4{
    color: darkkhaki;
}
#Reference a{
    color: darkcyan;
}
@media only screen and (max-width: 1200px){
    :root{
        font-size: 14px;
    }
    h1{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 900px){
    :root{
        font-size: 10px;
    }
    h1{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 650px){
    :root{
        font-size: 8px;
    }
    h1{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 520px){
    :root{
        font-size: 6px;
    }
    h1{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.1rem;
    }
}